<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Modificar Profesor :: Shoki</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="fragments/_navbar">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="fragments/_sidebar">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Crear profesor</h4>
                                <form class="form-sample" id="saveForm" th:object="${profesor}" th:action="@{/profesor/saveProfesor}"
                                      method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">DNI</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:value="${profesor.dni}"
                                                           th:field="*{dni}"/>
                                                    <input type="hidden" th:value="${profesor.id}" th:field="*{id}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:value="${profesor.nombre}" th:field="*{nombre}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:value="${profesor.apellidos}" th:field="*{apellidos}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sexo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" th:field="*{sexo}">
                                                        <span th:if="${profesor.sexo.equals('Masculino')}">
                                                            <option th:value="'Masculino'" th:text="Masculino"
                                                                    selected="true"></option>
                                                            <option th:value="'Femenino'" th:text="Femenino"></option>
                                                        </span>
                                                        <span th:unless="${profesor.sexo.equals('Masculino')}">
                                                            <option th:value="'Masculino'" th:text="Masculino"></option>
                                                            <option th:value="'Femenino'" th:text="Femenino"
                                                                    selected="true"></option>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" th:field="*{fechaString}"
                                                           th:value="${profesor.fechaNacimiento}"
                                                           placeholder="dd/mm/yyyy"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono de Contacto</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:value="${profesor.telefono}" th:field="*{telefono}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:value="${profesor.direccion}" th:field="*{direccion}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cinturón</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" th:field="*{cinturon.id}">
                                                        <option th:value="${cinturones.get(0).id}"
                                                                th:text="'Seleccione Cinturón'"></option>
                                                        <span th:each="cinturon : ${cinturones}">
                                                            <span th:if="${profesor.cinturon.id == cinturon.id}">
                                                                <option th:value="${cinturon.id}"
                                                                        th:text="${cinturon.nomnbre}"
                                                                        selected="true"></option>
                                                            </span>
                                                            <span th:unless="${profesor.cinturon.id == cinturon.id}">
                                                                <option th:value="${cinturon.id}"
                                                                        th:text="${cinturon.nomnbre}"></option>
                                                            </span>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Grado Instructor</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" th:field="*{gradoInstructor}">
                                                        <option th:value="0">Seleccione grado</option>
                                                        <span th:if="${profesor.gradoInstructor == 0}">
                                                            <option th:value="0" selected="true">Sin grado</option>
                                                            <option th:value="1">Grado 1</option>
                                                            <option th:value="2">Grado 2</option>
                                                            <option th:value="3">Grado 3</option>
                                                        </span>
                                                        <span th:if="${profesor.gradoInstructor == 1}">
                                                            <option th:value="0">Sin grado</option>
                                                            <option th:value="1" selected="true">Grado 1</option>
                                                            <option th:value="2">Grado 2</option>
                                                            <option th:value="3">Grado 3</option>
                                                        </span>
                                                        <span th:if="${profesor.gradoInstructor == 2}">
                                                            <option th:value="0">Sin grado</option>
                                                            <option th:value="1">Grado 1</option>
                                                            <option th:value="2" selected="true">Grado 2</option>
                                                            <option th:value="3">Grado 3</option>
                                                        </span>
                                                        <span th:if="${profesor.gradoInstructor == 3}">
                                                            <option th:value="0">Sin grado</option>
                                                            <option th:value="1">Grado 1</option>
                                                            <option th:value="2">Grado 2</option>
                                                            <option th:value="3" selected="true">Grado 3</option>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sueldo</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control"
                                                           th:value="${profesor.sueldo}" th:field="*{sueldo}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Contraseña</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control"
                                                           th:value="${profesor.contrasenya}" th:field="*{contrasenya}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <button form="saveForm" type="submit"
                                                        class="btn btn-success btn-fw">Enviar
                                                </button>
                                                <a th:href="@{/profesor/profesor(id=${profesor.id})}">
                                                    <button type="reset" class="btn btn-danger btn-fw">Cancelar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" th:insert="fragments/_footer"></footer>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>

</html>