<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Crear Centro :: Application</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="fragments/_navbar">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="fragments/_sidebar">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Crear Centro</h4>
                                <form class="form-sample" id="saveForm" th:object="${centro}" th:action="@{/centro/saveCentro}"
                                      method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:value="${centro.nombre}"
                                                           th:field="*{nombre}"/>
                                                    <input type="hidden" class="form-control" th:value="${centro.id}"
                                                           th:field="*{id}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" th:field="*{direccion}" class="form-control"
                                                           th:value="${centro.direccion}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Hora Inicio</label>
                                                <div class="col-sm-9">
                                                    <input type="text" th:field="*{horaMaximaInicio}"
                                                           class="form-control" placeholder="hh:mm"
                                                           th:value="${centro.horaMaximaInicio}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Hora Fin</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{horaMaximaFin}" placeholder="hh:mm"
                                                           th:value="${centro.horaMaximaFin}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Máximo de clases</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control" th:field="*{maxClases}"
                                                           th:value="${centro.maxClases}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Precio alquiler al mes</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control" th:field="*{precioMes}"
                                                           th:value="${centro.precioMes}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <h4 class="card-title">Datos Responsable Centro</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{responsable.nombre}"
                                                           th:value="${centro.responsable.nombre}"/>
                                                    <input type="hidden" class="form-control"
                                                           th:value="${centro.responsable.id}"
                                                           th:field="*{responsable.id}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{responsable.apellidos}"
                                                           th:value="${centro.responsable.apellidos}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cargo</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{responsable.cargo}"
                                                           th:value="${centro.responsable.cargo}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Correo</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control"
                                                           th:field="*{responsable.correo}"
                                                           th:value="${centro.responsable.correo}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{responsable.telefono}"
                                                           th:value="${centro.responsable.telefono}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <button type="submit" form="saveForm" class="btn btn-success btn-fw">Enviar</button>
                                                <a th:href="@{/centro/centro(id=${centro.id})}">
                                                    <button type="reset" class="btn btn-danger btn-fw">Cancelar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" th:insert="fragments/_footer"></footer>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>

</html>