<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Información Alumno :: Shoki</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="fragments/_navbar">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="fragments/_sidebar">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Información Alumno</h2>
                                <form class="form-sample">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">DNI</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label" th:text="${alumno.dni}">111111111A</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label" th:text="${alumno.nombre}">
                                                        Alumno1 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label"
                                                           th:text="${alumno.apellidos}">Apellido1</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sexo</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label" th:text="${alumno.sexo}">Masculino</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label" th:text="${alumno.fechaNac}">01/01/1977</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono de Contacto</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-3 col-form-label" th:text="${alumno.tlf}">955111111</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label" th:text="${alumno.dir}">Calle
                                                        1, nº 1</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cinturón</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${alumno.cint.getNomnbre()}">Marron</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Clase</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label">
                                                        <span th:if="${alumno.claseDto != null}">
                                                            <span th:text="${alumno.claseDto.centro.nombre}">centro 1</span>
                                                            - <span th:text="${alumno.claseDto.horaInicio}">16:00</span>
                                                        </span>
                                                        <span th:unless="${alumno.claseDto != null}">
                                                            Sin asignar
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    <span th:if="${alumno.activo.equals('Inactivo')}">
                                                        <a th:href="@{/alumno/altaAlumno(id=${alumno.id})}">
                                                        <button type="button"
                                                                class="btn btn-success btn-fw">Dar Alta</button>
                                                    </a>
                                                    </span>
                                                    <span th:unless="${alumno.activo.equals('Inactivo')}">
                                                        <a th:href="@{/alumno/editAlumno(id=${alumno.id})}">
                                                            <button type="button" class="btn btn-primary btn-fw">Editar
                                                            </button>
                                                        </a>
                                                        <a th:href="@{/alumno/faltasAlumno(id=${alumno.id})}">
                                                            <button type="button" class="btn btn-primary btn-fw">Faltas
                                                            </button>
                                                        </a>
                                                        <a th:href="@{/alumno/bajaAlumno(id=${alumno.id})}">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-fw">Dar Baja</button>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Observaciones</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <a th:href="@{/alumno/addObservacion(id=${alumno.id})}">
                                                    <button type="submit" class="btn btn-primary btn-fw">Crear</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Observación</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="observacion : ${listaObservaciones}">
                                        <td th:text="${observacion.fecha}">1/1/1977</td>
                                        <td th:text="${observacion.dato}">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Vestibulum at dolor
                                            venenatis,
                                            laoreet arcu eget.
                                        </td>
                                        <td>
                                            <a th:href="@{/alumno/removeObservacion(id=${observacion.id})}">
                                                <button type="reset" class="btn btn-danger btn-fw">Eliminar</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Pagos</h2>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Fecha pago</th>
                                        <th>Cantidad</th>
                                        <th>Mes pagado</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pago : ${listaPagos}">
                                        <td th:text="${pago.fecha}">1/1/1977</td>
                                        <td th:text="${pago.cantidad}">20€</td>
                                        <td th:text="${pago.mesPagado}">1/77</td>
                                        <td>
                                            <a th:href="@{/alumno/removePago(id=${pago.id})}"> <!--  -->
                                                <button type="reset" class="btn btn-danger btn-fw">Eliminar</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" th:insert="fragments/_footer"></footer>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>

</html>