<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Alumno :: Application</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="fragments/_navbar">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="fragments/_sidebar">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Crear Alumno</h2>
                                <form class="form-sample" action="#" th:action="@{/alumno/saveAlumno}"
                                      th:object="${alumno}"
                                      method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">DNI</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{dni}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{nombre}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{apellidos}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sexo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" th:field="*{sexo}">
                                                        <option th:value="'Masculino'" th:text="Masculino"></option>
                                                        <option th:value="'Femenino'" th:text="Femenino"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                                           th:field="*{fechaString}"/>
                                                    <!-- th:value="${#calendars.format(f,'yyyy-MM-dd')}" -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono de Contacto</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{tlf}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{dir}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cinturón</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" th:field="*{cint.id}">
                                                        <option th:value="${cinturones.get(0).id}"
                                                                th:text="'Seleccione Cinturón'"></option>
                                                        <span th:each="cinturon : ${cinturones}">
                                                            <option th:value="${cinturon.id}" th:text="${cinturon.nomnbre}"></option>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Clase</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
<!--                                                        th:field="*{cint.id}"-->
                                                        <option
                                                                th:text="'Seleccione Clase'">
<!--                                                            th:value="${clases.get(0).id}"-->
                                                        </option>
                                                        <span th:each="clase : ${clases}">
                                                            <option th:value="${clase.id}">
                                                                <span th:text="${clase.centro.nombre}"/> -
                                                                <span th:text="${clase.horaInicio}"/>
                                                            </option>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    <button type="submit" class="btn btn-success btn-fw">Enviar</button>
                                                    <button type="reset" class="btn btn-primary btn-fw">Limpiar</button>
                                                    <button type="reset" class="btn btn-danger btn-fw">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" th:insert="fragments/_footer"></footer>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>

</html>