<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <!-- End Layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html">
                <img alt="logo" th:src="@{/images/logo.svg}"/> </a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html">
                <img alt="logo" th:src="@{/images/logo-mini.svg}"/> </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                       aria-expanded="false">
                        <img class="img-xs rounded-circle" alt="Profile image"
                             th:src="@{/images/faces-clipart/pic-1.png}">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" alt="Profile image"
                                 th:src="@{/images/faces-clipart/pic-1.png}"/>
                            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                            <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i
                                class="dropdown-item-icon ti-dashboard"></i></a>
                        <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                        <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
                        <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                        <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <!--<div class="profile-image">
                            <img class="img-xs rounded-circle" src="../../static/images/faces/face8.jpg" alt="profile image">
                            <div class="dot-indicator bg-success"></div>
                          </div>-->
                        <div class="profile-image">
                            <img class="img-xs rounded-circle" alt="profile image"
                                 th:src="@{/images/faces-clipart/pic-1.png}"/>
                            <div class="dot-indicator bg-success"></div>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">Allen Moreno</p>
                            <p class="designation">Premium user</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item nav-category">Men&uacute; Principal</li>
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">
                        <i class="menu-icon typcn typcn-document-text"></i>
                        <span class="menu-title">Página Principal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-alumno" aria-expanded="false"
                       aria-controls="ui-alumno">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Gestión Alumnos</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-alumno">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/buttons.html">Crear Alumno</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Listar Alumnos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-clase" aria-expanded="false"
                       aria-controls="ui-clase">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Gestión Clases</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-clase">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/buttons.html">Crear Clase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Listar Clases</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-centro" aria-expanded="false"
                       aria-controls="ui-centro">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Gestión Centros</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-centro">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/buttons.html">Crear Centro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Listar Centros</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-profesor" aria-expanded="false"
                       aria-controls="ui-profesor">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Gestión Profesores</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-profesor">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/buttons.html">Crear Profesor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Listar Profesores</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-empleado" aria-expanded="false"
                       aria-controls="ui-empleado">
                        <i class="menu-icon typcn typcn-coffee"></i>
                        <span class="menu-title">Gestión Empleados</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-empleado">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/buttons.html">Crear Empleado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Listar Empleados</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Crear Alumno</h2>
                                <form class="form-sample" action="#" th:action="@{/alumno/alumno}" th:object="${alumno}"
                                      method="post"> <!-- CAMBIAR ESTO-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">DNI</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{dni}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{nombre}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Apellidos</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{apellidos}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sexo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control"> <!--th:field="*{sexo}"-->
                                                        <option>Masculino</option>
                                                        <option>Femenino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-9">
                                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
                                                    <!-- th:field="*{fechaNac}" -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Teléfono de Contacto</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{tlf}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Dirección</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{dir}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cinturón</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control"> <!-- th:field="*{cint}" -->
                                                        <option>Seleccione Cinturón</option>
                                                        <option>Blanco</option>
                                                        <option>Blanco Amarillo</option>
                                                        <option>Amarillo</option>
                                                        <option>Amarillo Naranja</option>
                                                        <option>Naranja</option>
                                                        <option>Naranja Verde</option>
                                                        <option>Verde</option>
                                                        <option>Verde Azul</option>
                                                        <option>Azul</option>
                                                        <option>Marron</option>
                                                        <option>Negro</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Clase</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>Seleccione Classe</option>
                                                        <option>Clase 1; Centro 1</option>
                                                        <option>CLase 2; Centro 1</option>
                                                        <option>Clase 1; Centro 2</option>
                                                        <option>Clase 1; Centro 1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    <button type="submit" class="btn btn-success btn-fw">Enviar</button>
                                                    <button type="reset" class="btn btn-primary btn-fw">Limpiar</button>
                                                    <button type="reset" class="btn btn-danger btn-fw">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
              <script>
                let f = new Date();
                document.write(f.getFullYear());
              </script> <a
                        href="http://www.bootstrapdash.com/"
                        target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="mdi mdi-heart text-danger"></i>
            </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>

</html>