<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login :: Shoki</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>-->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <nav th:if="${error != null}">
                            <div class="div-login-error">
                                Usuario o contraseña incorrectos.
                            </div>
                        </nav>
                        <nav th:if="${logout != null}">
                            <div class="div-logout">
                                Cierre de sesión correcto.
                            </div>
                        </nav>
                        <form th:action="@{/loginCheck}" th:method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="form-group">
                                <label class="label">Usuario</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Usuario" name="username" id="username" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                          <i class="mdi mdi-check-circle-outline"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Contraseña</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="*********" name="password" id="password" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                          <i class="mdi mdi-check-circle-outline"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block">Entrar</button>
                            </div>
                        </form>
                    </div>
                    <p class="footer-text text-center">copyright ©
                        <script>
                            let f = new Date();
                            document.write(f.getFullYear());
                        </script>
                        Bootstrapdash. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>
</html>