<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Información Clase :: Application</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/ionicons/css/ionicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/typicons/src/font/typicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="fragments/_navbar">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="fragments/_sidebar">
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Información Clase</h4>
                                <form class="form-sample">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Identificador</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label" th:text="${clase.id}">Colegio1-Clase01</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Precio</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"> <span
                                                            th:text="${clase.precio}">25</span> €</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Hora Inicio</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${clase.horaInicio}">16:00</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Hora Fin</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${clase.horaFin}">17:00</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Edad mínima</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"><span
                                                            th:text="${clase.edadMinima}">4</span> años</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Edad máxima</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"><span
                                                            th:text="${clase.edadMaxima}">6</span> años</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Número de alumnos</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${clase.numAlumnos}">1</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Máximo de alumnos</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${clase.maxAlumnos}">30</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Profesor</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label">
                                                        <span th:if="${clase.profesor != null}">
                                                            <span th:text="${clase.profesor.nombre}">Nombre1</span>
                                                            <span th:text="${clase.profesor.apellidos}">Apellido1</span>
                                                        </span>
                                                        <span th:unless="${clase.profesor != null}">
                                                            Sin asignar
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Centro</label>
                                                <div class="col-sm-9">
                                                    <label class="col-sm-9 col-form-label"
                                                           th:text="${clase.centro.nombre}">Centro 1</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    <span th:if="${clase.activo.equals('Inactivo')}">
                                                        <a th:href="@{/clase/altaClase(id=${clase.id})}">
                                                        <button type="button"
                                                                class="btn btn-success btn-fw">Dar Alta</button>
                                                    </a>
                                                    </span>
                                                    <span th:unless="${clase.activo.equals('Inactivo')}">
                                                        <a th:href="@{/clase/editClase(id=${clase.id})}">
                                                            <button type="button" class="btn btn-primary btn-fw">Editar
                                                            </button>
                                                        </a>
                                                        <a th:href="@{/clase/listaClase(id=${clase.id})}">
                                                            <button type="button" class="btn btn-primary btn-fw">Ver Lista
                                                            </button>
                                                        </a>
                                                        <a th:href="@{/clase/faltasClase(id=${clase.id})}">
                                                            <button type="button" class="btn btn-primary btn-fw">Faltas
                                                            </button>
                                                        </a>
                                                        <a th:href="@{/clase/bajaClase(id=${clase.id})}">
                                                            <button type="button"
                                                                    class="btn btn-danger btn-fw">Dar Baja</button>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" th:insert="fragments/_footer"></footer>
        </div>
    </div>
</div>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/shared/off-canvas.js}"></script>
<script th:src="@{/js/shared/misc.js}"></script>
</body>

</html>